<div class="container">
  <div>
    <h1 class="pt-4">All our flats</h1>
    <p>All our <%= @flats.count %> flats</p>
  </div>
  <div class="d-flex justify-content-between align-content-between flex-wrap">
    <% @flats.each do |flat| %>
    <div class="card card-flats">
      <img class="card-img-top" src="https://picsum.photos/id/<%= rand(1040..1060) %>/286/180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
        <div class="d-flex justify-content-start icons">
          <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
          <p><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
        </div>
      </div>
      <div class="d-flex flex-row links">
        <p class="blue"><%= link_to "More info", flat_path(flat) %></p>
        <p class="yellow"><%= link_to "Edit", edit_flat_path(flat) %></p>
        <p class="red"><%= link_to "Remove", flat_path(flat),  method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
